@model Student

<div class="container col-6 border shadow">

	<h1>Create New Student Record</h1>

	<div asp-validation-summary="All" class="text-danger" > </div>

	<form method="post">
		<div class="form-floating py-2">
			<input asp-for="Name" type="text" class="form-control" />
			<label asp-for="Name" class="form-label">Name</label>
			<span asp-validation-for="Name" class="text-danger" ></span>
		</div> 

		<div class="form-floating py-2">
			<input asp-for="Surname" type="text" class="form-control" />
			<label asp-for="Surname" class="form-label">Surname</label>
			<span asp-validation-for="Surname" class="text-danger"></span>
		</div>

		<div class="form-floating py-2">
			<input asp-for="StudentNumber" type="number" class="form-control" />
			<label asp-for="StudentNumber" class="form-label">Student Number</label>
			<span asp-validation-for="StudentNumber" class="text-danger"></span>
		</div>

		<div class="form-floating py-2">
			<input asp-for="Age" type="number" class="form-control" />
			<label asp-for="Age" class="form-label">Age</label>
			<span asp-validation-for="Age" class="text-danger" > </span>
		</div>
		<div class="py-2">
			<button type ="submit" class="btn btn-primary form-control"> Create</button>
		</div>
	</form>

</div>

@section Scripts {

	@{
	 <partial name="_ValidationScriptsPartial"></partial>

	}

}
